// CREDIT REFACTOIRNG UI - COURSE

// Primary
// These are the splashes of color that should appear the most in your UI,
// and are the ones that determine the overall "look" of the site. Use these
// for things like primary actions, links, navigation items, icons, accent
// borders, or text you want to emphasize.
$color-p1-0: #e0e8f9;
$color-p1-1: #bed0f7;
$color-p1-2: #98aeeb;
$color-p1-3: #7b93db;
$color-p1-4: #647acb;
$color-p1-5: #4c63b6;
$color-p1-6: #4055a8;
$color-p1-7: #35469c;
$color-p1-8: #2d3a8c;
$color-p1-9: #19216c;
$color-p2-0: #e1fcf8;
$color-p2-1: #c1fef6;
$color-p2-2: #92fdf2;
$color-p2-3: #62f4eb;
$color-p2-4: #3ae7e1;
$color-p2-5: #1cd4d4;
$color-p2-6: #0fb5ba;
$color-p2-7: #099aa4;
$color-p2-8: #07818f;
$color-p2-9: #05606e;

// Neutrals
// These are the colors you will use the most and will make up the majority
// of your UI. Use them for most of your text, backgrounds, and borders, as well
// as for things like secondary buttons and links.
$cool-grey-0: #f5f7fa;
$cool-grey-1: #e4e7eb;
$cool-grey-2: #cbd2d9;
$cool-grey-3: #9aa5b1;
$cool-grey-4: #7b8794;
$cool-grey-5: #616e7c;
$cool-grey-6: #52606d;
$cool-grey-7: #3e4c59;
$cool-grey-8: #323f4b;
$cool-grey-9: #1f2933;

// Supporting
// These colors should be used fairly conservatively throughout your UI
// to avoid overpowering your primary colors. Use them when you need an element
// to stand out, or to reinforce things like error states or positive trends
// with the appropriate semantic color.
$pink-vivid-0: #ffe3ec;
$pink-vivid-1: #ffb8d2;
$pink-vivid-2: #ff8cba;
$pink-vivid-3: #f364a2;
$pink-vivid-4: #e8368f;
$pink-vivid-5: #da127d;
$pink-vivid-6: #bc0a6f;
$pink-vivid-7: #a30664;
$pink-vivid-8: #870557;
$pink-vivid-9: #620042;

$red-vivid-0: #ffe3e3;
$red-vivid-1: #ffbdbd;
$red-vivid-2: #ff9b9b;
$red-vivid-3: #f86a6a;
$red-vivid-4: #ef4e4e;
$red-vivid-5: #e12d39;
$red-vivid-6: #cf1124;
$red-vivid-7: #ab091e;
$red-vivid-8: #8a041a;
$red-vivid-9: #610316;

$yellow-vivid-0: #fffbea;
$yellow-vivid-1: #fff3c4;
$yellow-vivid-2: #fce588;
$yellow-vivid-3: #fadb5f;
$yellow-vivid-4: #f7c948;
$yellow-vivid-5: #f0b429;
$yellow-vivid-6: #de911d;
$yellow-vivid-7: #cb6e17;
$yellow-vivid-8: #b44d12;
$yellow-vivid-9: #8d2b0b;

$green-vivid-0: #e3f9e5;
$green-vivid-1: #c1f2c7;
$green-vivid-2: #91e697;
$green-vivid-3: #51ca58;
$green-vivid-4: #31b237;
$green-vivid-5: #18981d;
$green-vivid-6: #0f8613;
$green-vivid-7: #0e7817;
$green-vivid-8: #07600e;
$green-vivid-9: #014807;
