@font-face {
  font-family: "STIX Two Text";
  src: url("assets/fonts/STIXTwoText-VariableFont_wght.ttf");
  font-display: swap;
  font-weight: 1 999;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("assets/fonts/Karla-VariableFont_wght.ttf");
  font-display: swap;
  font-weight: 1 999;
  font-style: normal;
}