html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "STIX Two Text";
  src: url("assets/fonts/STIXTwoText-VariableFont_wght.ttf");
  font-display: swap;
  font-weight: 1 999;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("assets/fonts/Karla-VariableFont_wght.ttf");
  font-display: swap;
  font-weight: 1 999;
  font-style: normal;
}
input,
textarea {
  box-shadow: 0 35px 35px -15px rgba(0, 0, 0, 0.25),
    inset 0 2px 3px 0.5px rgba(#000, 0.1);
}

@media (min-width: 768px) {
input,
textarea {
  box-shadow: 0 35px 35px -15px rgba(0, 0, 0, 0.35),
    inset 0 4px 4px 0.5px rgba(#000, 0.2);
}
}
